Package: loong-server
Source: empathy
Version: 2.0.0
Architecture: amd64
Maintainer: Dali Wang <wangdali@qq.com>
Installed-Size: 131072
Depends: 
Breaks: 
Replaces: 
Section: admin
Priority: optional
Homepage: http://dalistudio.net
Description: loong server system
 The system includes:
    * TaoToe Web Server
    * BiXi Script Server
    * SuanNi Cache Server
    * JiaoTu Session Server
    * PiXiu Application Server
    * ChiShou Pools Server


